.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    position: relative;

    &__column {
        flex-grow: 1;
    }

    @include media-max($bpTablet) {
        flex-direction: column;
        width: auto;
    }
}

.grid-shop{
    width: 100%;
    display: inline-block;
    font-size: 0;

    &__column{
        display: inline-block;
        font-size: 1rem;
    }

    &__aside{
        width: 25%;
        vertical-align: top;
    }

    &__list-shop{
        width: 75%;
    }
}