.main {
    position: relative;
    min-height: 100%;
    padding: 50px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    // &--shop{

    // }
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &::before {
        background: $colorBlack url("#{$rootImages}bg.png") no-repeat center center fixed;
        background-size: cover;
    }

    &::after {
        background: url("#{$rootImages}waves.svg") no-repeat bottom center;
        background-size: contain;
    }

    @include media-max($bpMobile) {
        padding: 50px 15px;
    }
}
