.modal-market{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right:0;
    min-height: 500px;
    overflow: hidden;
    background: rgba(0,0,0,0.9);
    border-radius: 10px;
    margin: auto;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #000 50%, $colorBlue 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #000 50%, $colorBlue 100%);
    border-image: linear-gradient(to top right, #000 50%, $colorBlue 100%);
    border-image-slice: 1;

    &::after{
        content:'';
        background: url(../img/cart_wave.svg);
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        background-repeat: no-repeat;
        background-position: center bottom;
        opacity: 0.5;
        z-index: 0;
    }

    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 3em;
        color: $colorBlueLight;
        cursor: pointer;
        z-index: 1;
    }

    .title{
        h3{
            margin: -20px 10px;
            padding: 0;
            font-size: 5em;
            font-family: Fjalla One, sans-serif;
        }
    }
}