$root: '../';
$rootImages: '#{$root}img/';

$fontSize: 16px;

$colorWhite: white;
$colorBlack: black;

$colorBlueDark: #0b1f2d;
$colorBlueDarker: #163b54;
$colorBlue: #22628d;
$colorBlueLight: #3498db;

$bpDesktop: 1440px;
$bpTablet: 980px;
$bpMobile: 640px;
