<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Title -->
    <title>Nonolesgaz</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="stylesheet" href="../scss/styles.css">
</head>
<body>
    <main class='main'>
        <div class='center'>
    <header>
        <div class='header-first-block'>
            <div class='header-logo'>
                <img src="../img/blanc.svg">
            </div>
            <div class='header-shop'>
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>                <span class='separator'></span>
                <div class='shopping'>
                    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="shopping-img" id="myBtn">
                        <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <span class="shop-number">1</span>
                </div>
            </div>
        </div>
        <div class='header-menu'>
            <ul>
                <li class='active-menu'><a href='mecaboite.html'>MECABOITE</a></li>
                <li><a href="">SCOOTER</a></li>
                <li><a href="">MAXISCOUTER</a></li>
                <li><a href="">ATELIER</a></li>
                <li><a href="">EQUIPEMENT</a></li>
                <li><a href="">OCCASIONS</a></li>
                <li><a href="" class="color-blue">PROMOS</a></li>
            </ul>
        </div>

    </header>

     <!-- <section class="bg-title">
        <h2>MECABOITE</h2>
    </section> -->

    

    <aside class='aside-menu'>
        <h2>MECABOITE</h2>
        <ul>
            <li>Partie Moteur</li>
            <li>Echappement</li>
        </ul>
    </aside>

    <section class='modal-market' id='myModal'>
            <span class="close">&times;</span>
            
            <div class='title'>
                <h3>PANIER</h3>
            </div>
    </section>
</div>
</main>

    <script>
            var modal = document.getElementById('myModal');
            
            var btn = document.getElementById("myBtn");
            
            var span = document.getElementsByClassName("close")[0];

            var open = false;

            btn.onclick = function() {
                modal.style.display = "block";
            }
            
            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target !== modal && event.target !== btn && modalToggle === true) {
                    modal.style.display = "none";
                    modalToggle = false;
                }
            }
    </script>

</body>
</html>