<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NonoLesGaz</title>
        <link rel="stylesheet" href="../scss/styles.css">
    </head>
    <body>
        <main class="main">
            <div class="center">
                <header>
                        <div class='header-first-block'>
                            <div class='header-logo'>
                                <img src="../img/blanc.svg">
                            </div>
                            <div class='header-shop'>
                                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>                <span class='separator'></span>
                                <div class='shopping' id="myBtn">
                                    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="shopping-img" >
                                        <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                    </svg>
                                    <span class="shop-number">1</span>
                                </div>
                            </div>
                        </div>
                
                    </header>

            <div class="wrapper">
                <div class="grid">
                    <nav class="navigation">
                        <span class="navigation__placeholder">Catégories</span>
                        <ul class="navigation__list">
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Mecaboîte</a>
                            </li>
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Scooter</a>
                            </li>
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Maxiscooter</a>
                            </li>
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Atelier</a>
                            </li>
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Equipement pilote</a>
                            </li>
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Occasions</a>
                            </li>
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Promos</a>
                            </li>
                            <li class="navigation__item">
                                <a href="" class="navigation__link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="grid__column">
                        <article class="promotion">
                            <h2 class="promotion__title">La promo du moment</h2>
                            <p class="promotion__product">Promo Pot Artek K3 - Scooter 50cc</p>
                            <div class="promotion__grid">
                                <div class="promotion__column promotion__column--left">
                                    <img src="../layout/product.png" alt="Pot Artek K3 - Scooter 50cc" class="promotion__image">
                                </div>
                                <div class="promotion__column promotion__column--right">
                                    <p class="promotion__old">190€</p>
                                    <p class="promotion__price">140€</p>
                                    <a href="" class="promotion__button">Voir</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            

            <section class='modal-market' id='myModal'>
                    <span class="close">&times;</span>
                    
                    <div class='title'>
                        <h3>PANIER</h3>
                    </div>
            </section>
            </div>
            <footer class="footer">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="" class="footer__link">Qui sommes nous&nbsp;?</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Livraisons & retours</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Fidélité</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Conditions générales de ventes</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Mentions légales</a>
                        </li>
                    </ul>
                </footer>
        </main>
        <script>
            const categories = document.querySelector(".navigation__placeholder");

            categories.addEventListener("click", function(){
                this.classList.toggle("navigation__placeholder--displayed")
            });

            var modalToggle = false;

            var modal = document.getElementById('myModal');
            
            var btn = document.getElementById("myBtn");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
                modal.style.display = "block";
                modalToggle = true;
            }
            
            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target !== modal && event.target !== btn && modalToggle === true) {
                    modal.style.display = "none";
                    modalToggle = false;
                }
            }
        </script>
    </body>
</html>
